<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/6d2f46eeba.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <nav class="nav navbar-nav navbar-left">
              <span class="">Bookers</span>
            </nav>
            <nav class="nav navbar-nab navbar-right">
              <ul class="nav navbar-nav navbar-right">
                <% if user_signed_in? %>
                  <li class=""><%= link_to user_path(current_user.id) do %><i class="fas fa-home"></i>Home<% end %></li>
                  <li><%= link_to users_path do %><i class="fas fa-user"></i>Users<% end %></li>
                  <li><%= link_to books_path do %><i class="fas fa-book"></i>Books<% end %></li>
                  <li><%= link_to destroy_user_session_path, method: :delete do %><i class="fas fa-sign-out-alt"></i></span>logout<% end %></li>
                <% else %>
                  <li><%= link_to root_path do %><i class="fas fa-home"></i>Home<% end %></li>
                  <li><%= link_to home_about_path do %><i class="fas fa-link"></i>About<% end %></li>
                  <li><%= link_to new_user_registration_path do %><i class="fas fa-edit"></i>sign up<% end %></li>
                  <li><%= link_to new_user_session_path do %><i class="fas fa-sign-in-alt"></i>login<% end %></li>
                <% end %>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <p class="text-right">CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
