<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/6d2f46eeba.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <nav class="nav navbar-nav navbar-left">
              <span class="nav-text">Bookers</span>
            </nav>
            <nav>
              <ul class="nav navbar-nav navbar-right">
                <% if user_signed_in? %>
                  <li class="nav-item"><%= link_to user_path(current_user.id) do %><span class="glyphicon glyphicon-home home" aria-hidden="true"> Home</span><% end %></li>
                  <li class="nav-item"><%= link_to users_path do %><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Users<% end %></li>
                  <li class="nav-item"><%= link_to books_path do %><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Books<% end %></li>
                  <li class="nav-item"><%= link_to destroy_user_session_path, method: :delete do %><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> logout<% end %></li>
                <% else %>
                  <li class="nav-item"><%= link_to root_path do %><span class="glyphicon glyphicon-home home" aria-hidden="true"> Home<% end %></li>
                  <li class="nav-item"><%= link_to home_about_path do %><span class="glyphicon glyphicon-link" aria-hidden="true"></span> About<% end %></li>
                  <li class="nav-item"><%= link_to new_user_registration_path do %><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> sign up<% end %></li>
                  <li class="nav-item"><%= link_to new_user_session_path do %><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> login<% end %></li>
                <% end %>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p class="text-right">CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
    
  </body>
</html>
